<div class="star-wars-intro">
    <img src="assets/halcon.png" class="falcon">
    <div class="title-content">
        <h1 class="title">
            <span>STAR</span>
            <span>WARS</span>
        </h1>
        <div class="navigation-buttons">
            <a routerLink="/planets">
                <div class="nav-button blue-light">
                    <img src="assets/tatooine.png" alt="Planeta Tatooine" />
                    <span>{{"PLANETS" |translate}}</span>
                </div>
            </a>
            <a routerLink="/people">
                <div class="nav-button  red-light">
                    <img src="assets/darth-vader.png" alt="Darth Vader" />
                    <span>{{"CHARACTERS" |translate}}</span>
                </div>
            </a>
        </div>
    </div>
</div>